[submodule "CVPR21Chal-SLR"]
	path = CVPR21Chal-SLR
	url = https://github.com/yuhan-zheng0121/WLASL.git
[submodule "sam-slr-data-prepare"]
	path = sam-slr-data-prepare
	url = https://github.com/yuhan-zheng0121/sam-slr-data-prepare.git
